version: '3.8'

services:
  mongo:
    image: mongo:latest
    # ports:
    #   - "${MONGO_PORT}:27017" # Exposed only internally in the network
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

  backend:
    build: ../backend
    ports:
      - "${BACKEND_PORT}:8000"
    environment:
      - MONGODB_URL=${MONGODB_URL}
      - DATABASE_NAME=${DATABASE_NAME}
    depends_on:
      - mongo
    volumes:
      - ../backend:/app
    networks:
      - app_network

  frontend:
    build: ../frontend
    ports:
      - "${FRONTEND_PORT}:5173"
    volumes:
      - ../frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    # For development, we keep the container running
    command: npm run dev -- --host 0.0.0.0
    networks:
      - app_network

volumes:
  mongo_data:

networks:
  app_network:
    driver: bridge
