@import "tailwindcss";

@layer utilities {
  .custom-marker-icon {
    background: transparent !important;
    border: none !important;
  }

  .leaflet-popup-content-wrapper {
    @apply rounded-xl shadow-lg border border-slate-100;
  }

  .leaflet-popup-content {
    @apply m-3;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Poppins", system-ui, -apple-system, sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}